body {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  background: #f0eded;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
.warp {
  background: #fff;
  padding-bottom: 1.1467rem;
}
.header {
  height: 2.1333rem;
  border-bottom: 0.0267rem solid #eaeaea;
  text-align: center;
  line-height: 2.1333rem;
  font-size: 0.9333rem;
  color: #1c1c1c;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 1.2rem 0 1.6rem 0;
}
.nav .item:nth-child(-n + 2) {
  margin-bottom: 1.6533rem;
}
.nav .item {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav .item img {
  width: 3.7067rem;
  height: 3.7067rem;
}
.nav .item span {
  font-size: 0.6667rem;
  color: #707070;
}
.go {
  margin: 0 0.48rem;
}
.go img {
  width: 100%;
}
.content {
  padding: 1.0667rem 0.5867rem;
  background: #fff;
  margin-top: 0.2667rem;
}
.content .con-hd {
  margin-bottom: 0.9067rem;
  height: 1.0133rem;
  line-height: 1.0133rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .con-hd h4 {
  margin: 0;
  font-size: 0.7467rem;
  color: #333;
}
.content .con-hd h4 img {
  vertical-align: middle;
  width: 0.88rem;
  height: 0.88rem;
}
.content .con-hd .more {
  font-size: 0.5867rem;
  color: #999;
}
.get_job {
  position: relative;
}
.get_job .swiper-container {
  width: 100%;
  height: 100%;
  width: 14.4rem;
}
.get_job .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: 300ms;
  transform: scale(0.8);
  opacity: 0.3;
}
.get_job .swiper-slide a {
  width: 9.0133rem;
  height: 10.0267rem;
}
.get_job .swiper-slide a img {
  width: 100%;
}
.get_job .swiper-slide p {
  font-size: 0.6667rem;
  margin-top: 0.64rem;
  width: 9.0133rem;
}
.get_job .swiper-slide-active,
.get_job .swiper-slide-duplicate-active {
  transform: scale(1);
  z-index: 999;
  opacity: 1;
}
.study-content {
  margin-bottom: 2.9333rem;
}
.study .study_swiper {
  padding: 0.2667rem;
}
.study .swiper-slide {
  font-size: 18px;
  background: #fff;
  width: 7.7333rem;
  border-radius: 0.2667rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.study .swiper-slide img {
  width: 100%;
}
.study .swiper-slide h5 {
  font-size: 0.6667rem;
  color: #707070;
  margin: 0.5333rem 0;
  font-weight: 400;
  padding: 0 0.266667rem;
}
.study .swiper-slide p {
  font-size: 0.6133rem;
  padding: 0 0.266667rem;
}
.study .swiper-slide span {
  font-size: 0.6133rem;
  color: #ff4400;
}
.footer {
  height: 1.9667rem;
  width: 100%;
  position: fixed;
  z-index: 999;
  background: pink;
  left: 0;
  bottom: 0;
  display: flex;
  padding: 0.5067rem 0;
  border-top: 1px solid #ececec;
}
.footer .items {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .items img {
  width: 1.04rem;
  height: 1.0933rem;
}
.footer .items p {
  font-size: 0.5867rem;
  color: #666;
}
